/* root variables */
:root{
  --color-white: #fff;
  --color-black: #191a23;
  --color-light-grey: #6C6A74;
  --color-lighter-grey: #f2f2f8;
  --color-orange: #FF6600;
  --color-dark-orange: #e25c03;
}

/* UTILITIES */
@media (max-width: 1024px){
  .heading{
    font-size: 1.25em;
  }

/*   .sub-heading{
    font-size: 1.740875em;
  } */
}
/* end UTILITIES*/


@media (max-width: 1024px) {
  .overlay{
    display: flex;
    flex-direction: column;
  }
}


/* HEADER */
@media  (max-width: 1024px) { /* header */
    div.sub-navbar{
        display: none;
    }

    div.navbar{
      padding: 1em;
    }

    div.navbar .nav-items{
        display: none;
    }

    div.join-now{
        display: none;
    }

    .navbar .logo-text{
        font-size: 0.85em;
    }

    .navbar .hambuger-mnu-wrapper{
        display: block;
    }

}
/* end HEADER */


/* HERO */
@media (max-width: 1024px){
  .video-container::after{
    height: 100vh;
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
  }

  .content{
    z-index: 10;
    color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 786px){
  .content{
      z-index: 10;
      color: var(--color-white);
      width: 100%;
      display: block;
      line-height: 2em;
      padding-left: 1em;
      padding-right: 1em;
    }
  
  .content h5{
      font-size: 1.25em;
    }
    
    .content h1{
      font-size: 2.3em;
      margin-bottom: 0.5em;
    }
  
    .content a.learm-more{
      margin-top: 1.5em;
    }

  }
/* end HERO*/  


/* ABOUT SECTION */
@media (max-width: 1024px){/* change made */
  section.about{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
  }

  div.about-container{
    flex-direction: column;
    max-width: 100%;
  }

  .about-container img{
    max-width: 100%;
  }
  .about-text-container{
    width: 100%;
  }
}
/* end ABOUT SECTION */


/* SUBJECTS SECTION */
@media (max-width: 1024px){
  section.subjects{
    margin-left: 1em;
    margin-right: 1em;
  }
}
/* end SUBJECTS SECTION */

/* COURSES SECTION */
@media (max-width: 1024px){
  section.courses{
    margin-left: 1em;
    margin-right: 1em;
  }

  div.courses-flex-container{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }

  .courses-card:hover{
    transform: scale(1);
  }

  .courses-card:hover .courses-card-text-container{
    background-color: var(--color-lighter-grey);
    color: var(--color-black);
  }
  .courses-card:hover .courses-card-text-container .sub{
    color:  var(--color-light-grey)
  }
  .courses-card:hover .courses-card-text-container a{
    color:  var(--color-black);
  }
  .courses-card:hover .courses-card-text-container .sup{
    color:  var(--color-light-grey);
  }
  
}
/* end COURSES SECTION*/


/* NEED ANY COURSES SECTION */
@media (max-width: 1024px){

  section.need-any-courses-container{
    margin-top: 2em;
    margin-bottom: 6em;
  }
  
  .need-any-courses{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    gap: 4em; /* gap between text anf form */
  }
  
  .need-any-courses .need-any-courses-text-container{
    width: 100%;
  }

  .need-any-courses .need-any-courses-form-container{
    width: 100%;
  }
  
  .need-any-courses form{
    width: 100%;
    background-color: var(--color-orange);
    border-radius: 8px;
  }

  .form-body{
    padding-left: 2em;
    padding-right: 2em;
  }

  .form-body button{
    font-size: 1em;
  }
}
/* end NEED ANY COURSES SECTION */


/* TEACHERS SECTION */
@media (max-width: 1024px){

  section.teachers{
    margin: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10em;
  }

  .teachers-flex-container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

}
/* end TEACHERS SECTION */


/* TESTIMONIAL SECTION */
@media (max-width: 1024px){

  section.testimonials{
    margin: 2em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 10em;
  }

  .testimonials .section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
  }

  .testimonials .section-header h1{
    line-height: 1.1em;
  }

  .testimonials .testimonial-card{
    width: 100%;
  }

/*   section.testimonials .testimonial-card i {
    font-size: 2em;
  } */
}

/* end TESTIMONIAL SECTION */


/* FOOTER*/
@media  (max-width: 1024px) {
.footer-container{
    padding: 1em;
    padding-top: 4em;
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;
    padding-bottom: 4em;
  }

  .footer-navbar{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--color-light-grey);
    padding: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    gap: 1.8em;
  }

  .footer-navbar .copyright{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
  }
}
/*end FOOTER */
