@media  (max-width: 1024px) { /* header */
    div.sub-navbar{
        display: none;
    }

    div.navbar{
        padding-left: 1em;
        padding-right: 1em;
    }

    div.navbar .nav-items{
        display: none;
    }

    div.join-now{
        display: none;
    }

    .navbar .logo-text{
        font-size: 0.85em;
    }

    .navbar .hambuger-mnu-wrapper{
        display: block;
    }

}

@media  (max-width: 1024px) {
    .footer-container{
        padding: 1em;
        padding-top: 4em;
        display: flex;
        flex-direction: column-reverse;
        gap: 3em;
        padding-bottom: 4em;
      }

      .footer-navbar{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--color-light-grey);
        padding: 2em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        gap: 1.5em;
      }



      .footer-navbar .copyright{
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
      }
      
      
}