/* import font(s) */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

/* root variables */
:root{
  --color-white: #fff;
  --color-black: #191a23;
  --color-light-grey: #6C6A74;
  --color-lighter-grey: #f2f2f8;
  --color-orange: #FF6600;
  --color-dark-orange: #e25c03;
}

a{
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

ul,ol,li{
    list-style-type: none;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

button{
  vertical-align: middle;
}

/* utilities */
.navbar nav ul a.active{/* special utility to show orange on the section the user is on (home, teacher etc) */
  color: var(--color-orange);
}

.btn{  /* can't be used for footer newslwtter sign up button */
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 0.95em;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover{
  background-color: var(--color-dark-orange);
}

.heading{ 
  font-size: 1.25em;
  color: var(--color-orange);
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.sub-heading{
  font-size: 2.5em;
  font-weight: 900;
}

div.section-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2.5em;
  margin-top: 2em;
}

.section-header .heading{
  margin-bottom: 1em;
}
/* end utilities */


body{
  font-family: 'Work Sans', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;

}


/* header*/
/* sub-navbar */
div.sub-navbar{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-navbar h4{
    color: var(--color-black);
    font-size: 0.9;
    display: inline;
    margin-right: 0.2em; /* to space text */
}
.sub-navbar i{
  margin-right: 0.5em;
  color: var(--color-orange);
}

.sub-navbar a{
    color: var(--color-light-grey);
    font-size: 0.85em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sub-navbar a:hover{
  color: var(--color-orange);
}
.sub-navbar a:focus{
  color: var(--color-orange);
}
.sub-navbar a:active{
  color: var(--color-orange);
}
/* end sub-navbar*/


/* navbar */
/* hamburger menu styling (mobile)*/ 
.navbar .hambuger-mnu-wrapper{
  display: none;
}

.navbar .hambuger-mnu-wrapper button{
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.navbar .hambuger-mnu-wrapper i{
  font-size: 2em;
  font-weight: 700;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px ;
  padding: 0.2em;
}

.navbar .hambuger-mnu-wrapper i:hover{
  border: 1px solid var(--color-orange);
}
.navbar .hambuger-mnu-wrapper i:active{
  border: 1px solid var(--color-orange);
}
.navbar .hambuger-mnu-wrapper i:focus{
  border: 1px solid var(--color-orange);
}
/* end hamburger menu styling (mobile)*/ 


div.navbar{
  border-top: 1px solid var(--color-lighter-grey);
  padding: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo-text{
    font-size: 1em;
}

.navbar .logo-text span{
    color: var(--color-orange);
}

.navbar .logo-text a{
  color: var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .logo-text a:hover{
  color: var(--color-orange);
}
.navbar .logo-text a:focus{
  color: var(--color-orange);
}
.navbar .logo-text a:active{
  color: var(--color-orange);
}

.navbar .nav-items ul{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.navbar .nav-items a{
  color: var(--color-black);
  font-size: 1.1em;
  font-weight: 800;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .nav-items i{
  color: var(--color-orange);
}


.navbar .nav-items a:hover{
    color: var(--color-orange);
}
.navbar .nav-items a:focus{
    color: var(--color-orange);
}
.navbar .nav-items a:active{
    color: var(--color-orange);
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--color-white);
  color: var(--color-light-grey);
  padding: 0.9375em; /* 15px */
  box-shadow: 0 0.3125em 0.625em rgba(0, 0, 0, 0.3); /* 5px 10px */
  border-radius: 0.3125em; /* 5px */
  z-index: 1000;
  min-width: 12.5em;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  -webkit-transition:  all 0.3s ease;
  transition:  all 0.3s ease;

}

.nav-items .dropdown-content a{
  display: block; /* amke the links blocks */
  color: var(--color-light-grey);
  font-size: 1em;
  font-weight: 400;
}

.dropdown:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.navbar .join-now button{
  background-color: var(--color-orange);
  border: none;
  border-radius: 10px;
  vertical-align: middle;
  color: var(--color-white);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 0.9em;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar .join-now button:hover{
  transform: scale(0.98);
  background-color: var(--color-dark-orange);
}
.navbar .join-now button:focus{
  transform: scale(0.98);
  background-color: var(--color-dark-orange);
}
.navbar .join-now button:active{
  transform: scale(0.98);
  background-color: var(--color-dark-orange);
}

.navbar .join-now i{
    margin-right: 1em;
}

/* end header*/


/* hero */
.showcase{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase .video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-black) url(/assets/img/carousel-1.jpg) no-repeat center center/cover; 
}

.showcase .video-container video{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.showcase .video-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  background-color: rgba(0, 0, 0, 0.5);

}

.showcase .content{
  z-index: 10;
  color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5em;
}

.content h5{
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

.content h1{
  font-size: 4em;
  margin-bottom: 0.3em;
  line-height: 1.3em;
}

.content i{
  margin-left: 0.5em;
}
/* end hero */

/* about section */
section.about{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em;
  margin-top: 8em;
  margin-bottom: 10em;
}

div.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-width: 90%;
}

.about-container img{
  max-width: 35%;
  border-radius: 8px;
}
.about-text-container{
  width: 60%;
}

.about-text-container i{
  margin-left: 0.5em;
}

.about-text-container .heading{
  margin-bottom: 1em;
}
.about-text-container .sub-heading{
  margin-bottom: 0.5em;
}
.about-text-container p{
  margin-bottom: 1.5em;
  font-size: 1em;
}
/* end about section */


/* subjects */
.zoom-link{
  display: block;
  width: 300px;
  height: 300px;
  background-image: url(/assets/img/cat-1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  border-radius: 10px;
  -webkit-transition: background-size 0.5s ease;
  transition: background-size 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.zoom-content{
  position: relative;
  bottom: 20px;
  left: 20px;
  color: var(--color-white);
  font-size: 1.1em;
  font-weight: 800;
  z-index: 1000;
}
.zoom-link:hover{
  background-size: 200%;
}
/* end subjects */


/* courses section */
section.courses{
  margin: 4em;
  margin-top: 0;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.courses i{
  color: var(--color-orange);
  margin-right: 0.5em;
}

div.courses-flex-container{
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

.courses-card{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* hover effect*/
.courses-card:hover{
  transform: scale(1.05);
}

.courses-card:hover .courses-card-text-container a{
  color:  var(--color-white);
}
.courses-card:hover .courses-card-text-container .sup{
  color:  var(--color-orange);
}

.courses-card img{
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

div.courses-card-text-container{
  background-color: var(--color-lighter-grey);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  min-height: 200px;
  max-height: 250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.courses-card:hover .courses-card-text-container{
  background-color: var(--color-black);
  color:  var(--color-white);
}

.courses-card-text-container .sub{
  color: var(--color-light-grey);
  font-size: 0.75em;
}
.courses-card-text-container .sup{
  color: var(--color-light-grey);
  font-size: 1.25em;
}

.courses-card-text-container p{
  font-size: 1em;
}

.courses-card-text-container .card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  padding-bottom: 0em;
}

.courses-card-text-container .card-middle {
  padding-left: 2em;
  padding-right: 2em;
}
.courses-card-text-container .card-middle a{
  font-size: 1.25em;
  font-weight: 600;
  color: var(--color-black);
}
.courses-card-text-container .card-middle a:hover{
  color: var(--color-orange);
}

.courses-card-text-container .card-bottom{
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #a2a2a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end courses scetiob*/



/* need courses*/
section.need-any-courses-container{
  margin-top: 0;
  margin-bottom: 7em;
 /*  background-color: var(--color-black); */
  background-image: url(/assets/img/registration-fix-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.need-any-courses{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 4em;
  padding-right: 4em;
}


.need-any-courses .need-any-courses-text-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  /* when a word wraps can i increse the line height */
  color: var(--color-white);
}

.need-any-courses .need-any-courses-text-container h1{
line-height: 1.3em;
}
.need-any-courses .need-any-courses-text-container ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.need-any-courses .need-any-courses-text-container i{
  color: var(--color-orange);
  margin-right: 0.5em;
}


.need-any-courses form{
  width: 40%;
  background-color: var(--color-orange);
  border-radius: 8px;
}

.form-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.form-body{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em;
  padding-left: 4em;
  padding-right: 4em;
}

.form-body input{
  border-radius: 8px;
  padding: 1em;
  outline: none;
  border: none;
}
.form-body input::placeholder{
  font-size: 1.1em;
}
.form-body input:focus{
  outline: none;
  border: none;
}
.form-body select{
  border-radius: 8px;
  padding: 1em !important;
  font-size: 0.9em;
  color: var(--color-light-grey);
  outline: none;
  border: none;
}
.form-body button{
  border-radius: 8px;
  padding: 1em;
  outline: none;
  border: none;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form-body button:hover{
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
}

.form-body i{
  margin-right: 0.5em;
  font-size: 0.9em;
}
/* end need courses */





/* tecahers section*/
section.teachers{
  margin: 4em;
  margin-top: 0;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teachers-flex-container{
  display: flex;
  gap: 1em;
}

.teachers-card{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.teachers-card img{
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: block;
}

/* .teachers-card img::before{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(68, 66, 90, 0.8);
  transition: .5s;
  z-index: 10000;
  opacity: 1;
}


.teachers-card:hover {
  color: red;
}
 */

.teachers-text-container{
  background-color: var(--color-lighter-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1.5em;
  width: 100%;
  max-width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.teachers-text-container h1{
  font-size: 1.1em;
}
.teachers-text-container p{
  font-size: 1em;
  color: var(--color-light-grey);
}
/* end teachers section*/





/* footer*/
/* footer container */
footer{
  background-color: var(--color-black);
  color: var(--color-white);
}

.footer-container{
  padding: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer-container a{
  color: var(--color-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-container a:hover{
  color: var(--color-orange);
}
.footer-container a:focus{
  color: var(--color-orange);
}
.footer-container a:active{
  color: var(--color-orange);
}

.footer-container h3{
  margin-bottom: 1em; /* text spacing */
}

.footer-container .get-in-touch ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-container .get-in-touch i{
  margin-right: 0.5em;
  font-size: 0.9em;
}

.footer-container .get-in-touch .social-links{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.7em;
  margin-top: 2em !important;  
}

.footer-container .get-in-touch .social-links i{
  font-size: 1.5em;
}

.footer-container .our-courses ul{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.footer-container .our-courses i{
  margin-right: 0.5em;
  font-size: 0.9em;
  color: var(--color-orange);
}

.footer-container .newsletter p{
  margin-bottom: 1.2em;
}

.footer-container .newsletter input{
  vertical-align: middle;
  padding: 1.5em;
  border: none;
  border-radius: 8px;
  width: 60%;
}

.footer-container .newsletter button{
  vertical-align: middle;
  padding: 1.5em;
  border: none;
  border-radius: 8px
}

.footer-container .newsletter input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.footer-container .newsletter input::placeholder{
  font-size: 1.1em;
}

.footer-container input:focus{
  border: none;
  outline: none;
}

.footer-container .newsletter button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  -webkit-transition: all 0.3s ease ;
  transition: all 0.3s ease ;
}

.footer-container .newsletter button:hover{
  background-color: var(--color-dark-orange);
}

.footer-container .newsletter i{
  margin-right: 0.6em;
}
/* end footer container */


/* footer navbar */
.footer-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-light-grey);
  padding: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-navbar span{
  color: var(--color-orange);
}

.footer-navbar a{
  color: var(--color-white);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer-navbar a:hover{
  color: var(--color-orange);
}
.footer-navbar a:focus{
  color: var(--color-orange);
}
.footer-navbar a:active{
  color: var(--color-orange);
}

.footer-navbar .copyright{
  display: flex;
  gap: 0.5em;
  font-size: 0.8em;
}

.footer-navbar .copyright i{
  margin-right: 0.5em;
}

.footer-navbar .copyright a:hover{
  text-decoration: underline;
}

.footer-navbar-items ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
/* end footer navbar */



/* ANIMATIONS */
/* button and a tag animation */
button.animate i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  button.animate:hover i, button.animate:focus i, button.animate:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }


  a.animate i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  a.animate:hover i, a.animate :focus i, a.animate :active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }


@-webkit-keyframes hvr-icon-wobble-horizontal {
16.65% {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }
33.3% {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }
49.95% {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }
66.6% {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px); }
83.25% {
  -webkit-transform: translateX(1px);
  transform: translateX(1px); }
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); } }
@keyframes hvr-icon-wobble-horizontal {
16.65% {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }
33.3% {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }
49.95% {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }
66.6% {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px); }
83.25% {
  -webkit-transform: translateX(1px);
  transform: translateX(1px); }
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); } }


/*# sourceMappingURL=style.css.map */
/* end button and a tag animation */



/* Overlay temporary position */
.overlay{

  position: fixed;
  display: none;
  background-color: var(--color-black);
  width: 80%;
  position: fixed;
  z-index:10;
  transform: translateX(100%); /* makes it open from the left to the right*/
  height: 100%;
  min-height: 100vh;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}



.overlay.open{
  transform: translateX(0);
}


/* overlay styling */
.overlay-header{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1em;
}

.overlay button{
  background-color: var(--color-black);
  outline: none;
  border: none;
  cursor: pointer;
}
.overlay a{
  color: var(--color-white);
  font-weight: 800;
}

.overlay .overlay-header i{
  color: var(--color-white);
  font-size: 2.5em;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay .overlay-header i:hover{
  color: var(--color-orange);
}
.overlay .overlay-header i:active{
  color: var(--color-orange);
}
.overlay .overlay-header i:focus{
  color: var(--color-orange);
}

.overlay .mobile-nav-items-container{
  padding: 1.5em;
  padding-left: 0;
  padding-right: 0;
}

.overlay .mobile-nav-items-container ul{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: 1.2em;
}

.overlay .mobile-nav-items-container li{
  padding: 0.3em;
  padding-left: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.overlay .mobile-nav-items-container li:hover .mobile-nav-items-container a {
  color: var(--color-orange);
}

.overlay .mobile-nav-items-container .dropdown i{
  margin-left: 0.5em;
}


.overlay .dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--color-black);
  color: var(--color-light-grey);
  padding: 0.9375em; /* 15px */
  box-shadow: 0 0.3125em 0.625em rgba(0, 0, 0, 0.3); /* 5px 10px */
  border-radius: 0.3125em; /* 5px */
  z-index: 1000;
  min-width: 12.5em;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  -webkit-transition:  all 0.3s ease;
  transition:  all 0.3s ease;

}

.overlay .dropdown-content a{
  display: block; /* make the links blocks */
  color: var(--color-lighter-grey);
  font-size: 1em;
  font-weight: 400;
}

.overlay .dropdown:hover .overlay .dropdown-content{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5em;
}



/* end hamburger menu styling (mobile)*/ 



