/* import font(s) */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* root variables */
:root{
  --color-white: #fff;
  --color-black: #191a23;
  --color-light-grey: #6C6A74;
  --color-orange: #FF6600;
  --color-dark-orange: #e25c03;
}

a{
  text-decoration: none;
  cursor: pointer;
}

ul,ol,li{
    list-style-type: none;
}


/* utilities */
.navbar nav ul a.active{/* special utility to show orange on the section the user is on (home, teacher etc) */
  color: var(--color-orange);
}

.btn{  /* can't be used for footer newslwtter sign up button */
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  vertical-align: middle;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-size: 0.95em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover{
  background-color: var(--color-dark-orange);
}

.heading{ 
  font-size: 1.25em;
  color: var(--color-orange);
  letter-spacing: 0.25em;
}

.sub-heading{
  font-size: 2.5em;
  font-weight: 800;
}
/* end utilities */


body{
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  color: var(--color-black);
  line-height: 1.5em;
  transition: all 0.5s ease;

}


/* header*/

/* sub-navbar */
div.sub-navbar{
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-navbar h4{
    color: var(--color-black);
    font-size: 0.9;
    display: inline;
    margin-right: 0.2em; /* to space text */
}

.sub-navbar a{
    color: var(--color-light-grey);
    font-size: 0.85em;
    transition: all 0.3s ease;
}

.sub-navbar a:hover{
  color: var(--color-orange);
}
/* end sub-navbar*/


/* navbar */
/* hamburger menu styling (mobile)*/ 
.navbar .hambuger-mnu-wrapper{
  display: none;
}

.navbar .hambuger-mnu-wrapper button{
  background-color: var(--color-white);
  border: none;
  cursor: pointer;
}

.navbar .hambuger-mnu-wrapper i{
  font-size: 2em;
  border: 1px solid var(--color-light-grey);
  border-radius: 5px ;
  padding: 0.2em;
}

.navbar .hambuger-mnu-wrapper i:hover{
  border: 1px solid var(--color-orange);
}
/* end hamburger menu styling (mobile)*/ 


div.navbar{
  border-top: 1px solid var(--color-light-grey);
  padding: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo-text{
    font-size: 1em;
}

.navbar .logo-text span{
    color: var(--color-orange);
}

.navbar .logo-text a{
  color: var(--color-black);
  transition: all 0.3s ease;
}

.navbar .logo-text a:hover{
  color: var(--color-orange);
}

.navbar .nav-items ul{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.navbar .nav-items a{
  color: var(--color-black);
  font-size: 1.1em;
  font-weight: 800;
  transition: all 0.3s ease;
}


.navbar .nav-items a:hover{
    color: var(--color-orange);
}
.navbar .nav-items a:focus{
    color: var(--color-orange);
}


.navbar .join-now button{
    background-color: var(--color-orange);
    border: none;
    border-radius: 10px;
    vertical-align: middle;
    color: var(--color-white);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 0.9em;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .join-now button:hover{
  transform: scale(0.98);
  background-color: var(--color-dark-orange);
}

.navbar .join-now i{
    margin-right: 1em;
}

/* end header*/


/* hero */
.showcase{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--color-black) url(/assets/img/carousel-1.jpg) no-repeat center center/cover; 
}

.video-container video{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  background-color: rgba(0, 0, 0, 0.5);

}

.content{
  z-index: 10;
  color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content h5{
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 2.1em;
}

.content h1{
  font-size: 4.5em;
  margin-bottom: 0.8em;
}

/* end hero */

/* footer*/
/* footer container */
footer{
  background-color: var(--color-black);
  color: var(--color-white);
}

.footer-container{
  padding: 2em;
  padding-top: 4em;
  padding-bottom: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.footer-container a{
  color: var(--color-white);
  transition: all 0.3s ease;
}

.footer-container a:hover{
  color: var(--color-orange);
}

.footer-container h3{
  margin-bottom: 1em;
}

.footer-container .get-in-touch ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer-container .get-in-touch i{
  margin-right: 0.5em;
  font-size: 0.9em;
}

.footer-container .get-in-touch .social-links{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.7em;
  margin-top: 2em !important;  
}

.footer-container .get-in-touch .social-links i{
  font-size: 1.5em;
}

.footer-container .our-courses ul{
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.footer-container .newsletter p{
  margin-bottom: 1.2em;
}

.footer-container .newsletter input{
  vertical-align: middle;
  padding: 1.5em;
  border: none;
  border-radius: 8px;
  width: 60%;
}

.footer-container .newsletter button{
  vertical-align: middle;
  padding: 1.5em;
  border: none;
  border-radius: 8px
}

.footer-container .newsletter input{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.footer-container .newsletter input::placeholder{
  font-size: 1.1em;
}

.footer-container input:focus{
  border: none;
  outline: none;
}

.footer-container .newsletter button{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: all 0.3s ease ;
}

.footer-container .newsletter button:hover{
  background-color: var(--color-dark-orange);
}

.footer-container .newsletter i{
  margin-right: 0.6em;
}


/* end footer container */


/* footer navbar */
.footer-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-light-grey);
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-navbar span{
  color: var(--color-orange);
}

.footer-navbar a{
  color: var(--color-white);
  transition: all 0.3s ease;
}

.footer-navbar a:hover{
  color: var(--color-orange);
}

.footer-navbar .copyright{
  display: flex;
  gap: 0.5em;
  font-size: 0.8em;
}

.footer-navbar .copyright i{
  margin-right: 0.5em;
}

.footer-navbar .copyright a:hover{
  text-decoration: underline;
}

.footer-navbar-items ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
/* end footer navbar */



/* ANIMATIONS */

/* button animation */
.animate button i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .animate button:hover i, .animate button:focus i, .animate button:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }


  .animate a i {
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }
  .animate a:hover i, .animate a:focus i, .animate a:active i {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }


@-webkit-keyframes hvr-icon-wobble-horizontal {
16.65% {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }
33.3% {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }
49.95% {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }
66.6% {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px); }
83.25% {
  -webkit-transform: translateX(1px);
  transform: translateX(1px); }
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); } }
@keyframes hvr-icon-wobble-horizontal {
16.65% {
  -webkit-transform: translateX(6px);
  transform: translateX(6px); }
33.3% {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px); }
49.95% {
  -webkit-transform: translateX(4px);
  transform: translateX(4px); }
66.6% {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px); }
83.25% {
  -webkit-transform: translateX(1px);
  transform: translateX(1px); }
100% {
  -webkit-transform: translateX(0);
  transform: translateX(0); } }


/*# sourceMappingURL=style.css.map */
/* end button animation */
